@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* --- SỬA LẠI CSS TOÀN CỤC --- */
body {
  @apply font-body bg-paper text-ink;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background: transparent; /* Đổi nền swiper */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 /* Cập nhật lại nút Swiper */
 .swiper-button-prev,
 .swiper-button-next{
    @apply bg-white p-5 rounded-full z-50 shadow-md text-ink;
 }
 .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 16px !important;
    font-weight: 900;
 }

 /* ĐỊNH NGHĨA LẠI NÚT BẤM */
 .btn-primary {
    @apply bg-accent px-6 py-3 rounded-md text-base text-white font-body font-semibold hover:bg-opacity-90 transition-all duration-200 cursor-pointer shadow-sm
 }

.html{
   scroll-behavior: smooth;
}